# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv*/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.db
*.sqlite3

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/firebase-credentials.json

# OS files
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
